body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #0099F7 0%, #F11712 100%);
}
button{
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
